<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="templates/problems/style.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <title>Problems</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
    $(document).ready(function(){
	  var req = new XMLHttpRequest();
	  req.open('GET', 'http://localhost/isLoggedIn', true);
	  req.onreadystatechange = function() {
	      if (this.status == 200 && this.readyState == 4) {
			var response = JSON.parse(this.responseText);
			const logout = document.getElementById('logout');
			if(response.success == true){
			  logout.style.display = "block";
			}
			else{
		      logout.style.display = "none";
		    }
	      }
	    };
	  req.send();
    });
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border: solid 2px black;border-radius: 10px;">
        <a class="navbar-brand" href="/">Codify</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/challenges">Challenges</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profilo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/calendar">Calendario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            </ul>
        </div>
    </nav>


    <div class="grid-container">
        
    </div>
    <script src="templates/problems/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        window.addEventListener('load', (event) => {
            getProblems();
            getDoneProblems();
        });
    </script>

</body>

</html>
