<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="templates/homepage/style.css">
    <title>Codify</title>
</head>
<body>
    <h1 class="title">Codify</h1>
    <h3 class="sub-title">Sei all'altezza di risolvere i problemi come un pro?</h3>
    <a href="/login"><button>Login</button></a>
    <a href="/signup"><button>Signup</button></a>
</body>
</html>