<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script src="/js/signup_login.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
    $(document).ready(function(){
      const form = document.getElementById('login-form');
      form.addEventListener('submit', handleFormSubmit);

	  var req = new XMLHttpRequest();
	  req.open('GET', 'http://localhost/isLoggedIn', true);
	  req.onreadystatechange = function() {
	    if (this.status == 200 && this.readyState == 4) {
			var response = JSON.parse(this.responseText);
			const logout = document.getElementById('logout');
			const calendario = document.getElementById('calendario');
			if(response.success == true){
				logout.style.display = "block";
				calendario.style.display = "block";
			}
			else{
				logout.style.display = "none";
				calendario.style.display = "none";
			}
	    }
	  };
	  req.send();
    });
    </script>
	<link rel="stylesheet" type="text/css" href="templates/login/styles.css" >
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border: solid 2px black;border-radius: 10px; font-size: 16px;">
        <a class="navbar-brand" href="/">Codify</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/challenges">Challenges</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/profile">Profilo</a>
            </li>
            <li class="nav-item" id="calendario">
                <a class="nav-link" href="/profile">Calendario</a>
            </li>
            <li class="nav-item" id="logout">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            </ul>
        </div>
    </nav>
    <div class="container-login">
        <span class="login-title">
            Log In
        </span>
        <form class="login-form" action="/login" id="login-form">
            <div class="wrap-input" data-validate="Valid email is required">
                <label class="email_label">
                    Username
                </label>
                <input class="input" type="text" name="username" >
            </div>
            <div class="wrap-input" data-validate="Password is required">
                <label class="password_label">
                    Password
                </label>
                <input class="input" type="password" name="password" >
            </div>
            <div class="container-login-form-btn">
                <button class="login-form-btn">
                    Log In
                </button>
            </div>
        </form>
        <div class="text-center " >
            <span class="txt1 or-text">
                Or 
            </span>
        </div>
        <div class="bottoni_signup">
            <a href="login-google" class="btn-google">
                <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-label="google logo" role="img" focusable="false" class="icons__StyledIcon-xmer15-0 bSMcCd"><path d="M7.092 19.338l-1.114 4.158-4.071.086A15.928 15.928 0 010 16c0-2.653.645-5.155 1.789-7.358l3.625.664 1.588 3.603A9.51 9.51 0 006.49 16c0 1.174.213 2.3.603 3.338z" fill="#FBBB00"></path><path d="M31.72 13.011c.184.968.28 1.967.28 2.989 0 1.145-.12 2.263-.35 3.34a15.997 15.997 0 01-5.633 9.137h-.001l-4.565-.233-.646-4.034a9.536 9.536 0 004.102-4.87h-8.555v-6.329H31.72z" fill="#518EF8"></path><path d="M26.016 28.477A15.932 15.932 0 0116 32c-6.093 0-11.39-3.406-14.093-8.418l5.185-4.244A9.513 9.513 0 0016 25.511a9.46 9.46 0 004.804-1.3l5.212 4.266z" fill="#28B446"></path><path d="M26.213 3.683l-5.184 4.244A9.458 9.458 0 0016 6.489c-4.17 0-7.714 2.685-8.998 6.42L1.79 8.642h-.001C4.452 3.508 9.816 0 16 0c3.882 0 7.442 1.383 10.213 3.683z" fill="#F14336"></path></svg>
                <span class="login_esterno">Login with Google</span>
            </a>
        </div>
        <div class="text-center w-full">
            <span class="txt1 member">
                Not a member?
            </span>
            <a class="txt1 sign" href="/signup">
                Sign up now
            </a>
        </div>
        
    </div>
</body>
