<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script src="/js/signup_login.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
    $(document).ready(function(){
      const form = document.getElementById('login-form');
      form.addEventListener('submit', handleFormSubmit);
    });
    </script>
	<link rel="stylesheet" type="text/css" href="templates/login/styles.css" >
</head>
<body>
    <div class="container-login">
        <span class="login-title">
            Log In
        </span>
        <form class="login-form" action="/login" id="login-form">
            <div class="wrap-input" data-validate="Valid email is required">
                <label class="email_label">
                    Username
                </label>
                <input class="input" type="text" name="username" >
            </div>
            <div class="wrap-input" data-validate="Password is required">
                <label class="password_label">
                    Password
                </label>
                <input class="input" type="password" name="password" >
            </div>
            <!-- <div class="contact-form-checkbox">
                <input class="input-checkbox" id="ckb1" type="checkbox" name="remember-me">
                <label class="label-checkbox" for="ckb1">
                    Remember me
                </label>
            </div> -->
            <div class="container-login-form-btn">
                <button class="login-form-btn">
                    Log In
                </button>
            </div>
        </form>
        <div class="text-center " >
            <span class="txt1 or-text">
                Or 
            </span>
        </div>
        <div class="bottoni_signup">
            <a href="#" class="btn-git">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" aria-label="github logo" role="img" focusable="false" class="icons__StyledIcon-xmer15-0 bSMcCd"><path d="M16 .395c-8.836 0-16 7.163-16 16 0 7.069 4.585 13.067 10.942 15.182.8.148 1.094-.347 1.094-.77 0-.381-.015-1.642-.022-2.979-4.452.968-5.391-1.888-5.391-1.888-.728-1.849-1.776-2.341-1.776-2.341-1.452-.993.11-.973.11-.973 1.606.113 2.452 1.649 2.452 1.649 1.427 2.446 3.743 1.739 4.656 1.33.143-1.034.558-1.74 1.016-2.14-3.554-.404-7.29-1.777-7.29-7.907 0-1.747.625-3.174 1.649-4.295-.166-.403-.714-2.03.155-4.234 0 0 1.344-.43 4.401 1.64a15.353 15.353 0 014.005-.539c1.359.006 2.729.184 4.008.539 3.054-2.07 4.395-1.64 4.395-1.64.871 2.204.323 3.831.157 4.234 1.026 1.12 1.647 2.548 1.647 4.295 0 6.145-3.743 7.498-7.306 7.895.574.497 1.085 1.47 1.085 2.963 0 2.141-.019 3.864-.019 4.391 0 .426.288.925 1.099.768C27.421 29.457 32 23.462 32 16.395c0-8.837-7.164-16-16-16z"></path></svg>
                <span class="login_esterno">Login with GitHub</span>
            </a>
            <a href="login-google" class="btn-google">
                <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-label="google logo" role="img" focusable="false" class="icons__StyledIcon-xmer15-0 bSMcCd"><path d="M7.092 19.338l-1.114 4.158-4.071.086A15.928 15.928 0 010 16c0-2.653.645-5.155 1.789-7.358l3.625.664 1.588 3.603A9.51 9.51 0 006.49 16c0 1.174.213 2.3.603 3.338z" fill="#FBBB00"></path><path d="M31.72 13.011c.184.968.28 1.967.28 2.989 0 1.145-.12 2.263-.35 3.34a15.997 15.997 0 01-5.633 9.137h-.001l-4.565-.233-.646-4.034a9.536 9.536 0 004.102-4.87h-8.555v-6.329H31.72z" fill="#518EF8"></path><path d="M26.016 28.477A15.932 15.932 0 0116 32c-6.093 0-11.39-3.406-14.093-8.418l5.185-4.244A9.513 9.513 0 0016 25.511a9.46 9.46 0 004.804-1.3l5.212 4.266z" fill="#28B446"></path><path d="M26.213 3.683l-5.184 4.244A9.458 9.458 0 0016 6.489c-4.17 0-7.714 2.685-8.998 6.42L1.79 8.642h-.001C4.452 3.508 9.816 0 16 0c3.882 0 7.442 1.383 10.213 3.683z" fill="#F14336"></path></svg>
                <span class="login_esterno">Login with Google</span>
            </a>
        </div>
        <div class="text-center w-full">
            <span class="txt1 member">
                Not a member?
            </span>
            <a class="txt1 sign" href="/signup">
                Sign up now
            </a>
        </div>
        
    </div>
</body>
