<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="templates/problem/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
    $(document).ready(function(){
	  var req = new XMLHttpRequest();
	  req.open('GET', '/isLoggedIn', true);
	  req.onreadystatechange = function() {
	      if (this.status == 200 && this.readyState == 4) {
			var response = JSON.parse(this.responseText);
			const logout = document.getElementById('logout');
			if(response.success == true){
			  logout.style.display = "block";
			}
			else{
		      logout.style.display = "none";
		    }
	      }
	    };
	  req.send();
    });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border: solid 2px black;border-radius: 10px;">
        <a class="navbar-brand" href="/">Codify</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/challenges">Challenges</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profilo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Calendario</a>
            </li>
            <li class="nav-item" id="logout">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            </ul>
        </div>
    </nav>
    <title>Codify</title>
    <div class="container" id="parte_superiore" style="width: 100%;"><h5 class="challenge_risolta">Challenge risolta</h5></div>
    <div class="container" id="parte_bottoni">
        <!-- <h1>Parte bottoni</h1> -->
        <form>
            <div class="form-row align-items-end">
                <div class="col-4 my-1">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Language</label>
                    <select class="custom-select mr-sm-2" id="language">
                        <option value="/">Choose...</option>
                        
                        <option value="bash/4">Bash Shell</option>
                        <option value="c/5">C</option>
                        <option value="cpp/5">C++</option>
                        <option value="csharp/4">C#</option>
                        <option value="java/4">Java</option>
                        <option value="nodejs/4">NodeJS</option>
                        <option value="php/4">PHP</option>
                        <option value="python3/4">Python</option>
                        <option value="ruby/4">Ruby</option>
                        <option value="kotlin/3">Kotlin</option>
                        <option value="swift/4">Swift</option>
                    </select>
                </div>
                <div class="due_btn" style="display: contents;">
                    <div class="col-1 my-1" style="margin-left: auto;">
                        <a class="btn" id="button_run" class="button_run" onclick="getOutput()">Run</a>
                    </div>
                    <div class="col-1 my-1">
                        <a class="btn" id="button_check" onclick="check_result()">Check</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="container" id="container_1" >
        <div class="row">
            <div class="col" id="iframecontainer">
                <div id="iframe">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Problema</label>
                    <label class="Score"></label>
                    <textarea id="iframeCode" idd="" title="problema" autocorrect="off" autocapitalize="off" spellcheck="false" readonly="true"></textarea>
                </div>
            </div>

            <div class="col" id="textareacontainer">
                <div id="textarea">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Editor</label>
                    <textarea id="textareaCode" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="container_2">
        <div class="col" id="textarea_outputcontainer">
            <div id="textarea_output">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Output</label>
                <textarea id="textarea_outputCode" title="output" autocorrect="off" autocapitalize="off" spellcheck="false" readonly="true">Output</textarea>
            </div>
        </div>
    </div>
        
    <div class="container" id="container_3" style="margin: auto;">
        <div class="row" style="margin: auto;">
            <a class="previous btn" onclick="change_prob(-1)">
                <div class="col" id="previous_problem">
                    Previous problem
                </div>
            </a>
            <a class="next btn" onclick="change_prob(1)">
                <div class="col" id="next_problem">
                    Next problem
                </div>
            </a>
        </div>
    </div>
    
    <script type="application/javascript" src="js/bootstrap.min.js"></script>
    <script type="application/javascript" src="templates/problem/scripts/script.js" ></script>
    <script type="application/javascript" src="templates/problem/scripts/api.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        window.addEventListener('load', (event) => {
            get_problem();
            prevent();
            get_tab();
            challenge_risolta();
        });
        document.getElementById("language").addEventListener("change", (event) => {
            cambio_linguaggio($('#language').val().split('/')[0]);
        })
    </script>
    <script>
        function change_prob(diff){
            var url = window.location.href.slice(0,-1);
            var dif = parseInt(window.location.search.split("=")[1]) + diff;
            dif = dif.toString();
            url = url+dif;
            window.location.href=url;
        }
    </script>
</body>
</html>
