div[id="container_1"]{
    width: 100%;
}

div[id="container_"]{
    width: 100%;
}

textarea[id="textarea_outputCode"]{
    border-radius: 5px;
    width: 100%;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
}

iframe[id="iframeCode"]{
    border-radius: 5px;
    width: 100%;
    height: 500px;
}

textarea[id="textareaCode"]{
    border-radius: 5px;
    width: 100%;
    height: 500px;
    min-height: 500px;
    max-height: 500px;
}
body, textarea, iframe{
    font-family: monospace;
}